
body {
    font-family: 'Roboto', sans-serif;
}

.img_arriba {
    width: 5rem;
}

.img_abajo {
    width: 10rem;
}

.img_galeria {
    height: 620px;
}

.logo_alig {
    width: 100%;
}

.img_fondo {
    width: 100%;
    height: 100vh;
    background: url("/assets/img/fondo.jpg");
    background-repeat: no-repeat;   /* para no repetir la iamgen */
    background-size: cover;         /* se ajusta la imagen al tamaño del area*/
    background-position: center; 
    /*opacity: 90%;*/
}

.seccion {
    height:max-content;
  }

.ini_text {
    padding-top: 100px; 
  }

  .formato_v1 {
    font-size: 90px;
    color: white;
    font-weight: bold;
  }

.formato_h1 {
    font-size: 75px;
    letter-spacing: 10px;
    color: white;
    font-weight: bold;
  }

  .formato_p {
    font-size: 20px;
    letter-spacing: 5px;
    color: white;
  }

  .formato_p2 {
    font-size: 30px;
    letter-spacing: 5px;
    color: yellowgreen;
  }

/* Estilo base para los iconos */
.fa {
    color: white; /* Color del icono */
    background-color: black; /* Color de fondo del icono */
    border-radius: 50%; /* Borde redondo */
    padding: 10px; /* Espacio alrededor del icono */
    font-size: 50px; /* Ajusta el tamaño del icono */
    line-height: 1; /* Alinea verticalmente el icono en el centro */
    text-align: center; /* Alinea horizontalmente el icono en el centro */
  }
  
  /* Estilo cuando el mouse pasa sobre el icono */
  .fa:hover {
    background-color: red; /* Color de fondo del icono al pasar el mouse */
  }

  .auto {
    /*overflow: auto; */
    overflow-y: auto;
    overflow-x: hidden;
  }
